fastapi
uvicorn
sqlalchemy==2.0.40
pydantic==2.11.3
python-dotenv
requests
psycopg2-binary
python-multipart
openai
pillow
pandas
openpyxl
google-genai
nest-asyncio
google-cloud-storage
together
google-cloud-aiplatform
pyshorteners